body{
    background-color: rgba(76, 130, 148, 0.899);
}
.mainbox{
    position: relative;
    width: 100vw;
    height: 80vh;
}
.input{
    position: absolute;
    top: 100%;
}
button{
    background-color: rgb(255, 255, 49);
}